[submodule "themes/timeline"]
	path = themes/timeline
	url = https://github.com/s4n7h0/hugo-theme-timeline.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
